<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Matemágicos</title>
    <!-- Agregar los enlaces a los archivos CSS y JavaScript de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/456e5e7db9.js" crossorigin="anonymous"></script>
    <!-- Estilo CSS personalizado -->
    <link rel="stylesheet" href="../resources/css/register.css">
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="../resources/img/logo.svg" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">Sobre Nosotros</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Contenido principal (formulario de registro) -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Registro</h2>
                        <form action="/register" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                        placeholder="Nombre">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellidoPaterno">Apellido Paterno</label>
                                    <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno"
                                        placeholder="Apellido Paterno">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="apellidoMaterno">Apellido Materno</label>
                                    <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno"
                                        placeholder="Apellido Materno">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="correo">Correo</label>
                                    <input type="email" class="form-control" id="correo" name="correo"
                                        placeholder="Correo Electrónico">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="usuario">Nombre de Usuario</label>
                                    <input type="text" class="form-control" id="usuario" name="usuario"
                                        placeholder="Nombre de Usuario">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="edad">Edad</label>
                                    <select class="form-control" id="edad" name="edad" style="height: auto;">
                                        <option value="">Seleccionar Edad</option>
                                        ${edadOptions}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contraseña">Contraseña</label>
                                <input type="password" class="form-control" id="pass" name="pass"
                                    placeholder="Contraseña">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
      }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>

        <% }%>

            <script>
                const selectEdad = document.getElementById('edad');

                for (let i = 1; i <= 99; i++) {
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = i;
                    selectEdad.appendChild(option);
                }
            </script>

            <!-- Pie de página -->
            <footer class="footer">
                <div class="container">
                    <p>&copy; 2023 Matemágicos</p>
                </div>
            </footer>
</body>

</html>